.images{
    position: relative;
    img {
        border-radius: 3px;
        margin-right: 20px;
        height: 150px;
        width: 250px;
    }
    .dots{
        display: flex;
        position: absolute;
        color: white;
        font-size: 30px;
        bottom: 7px;
        align-items: center;
        text-shadow: 1px 0px 1px #ccc;
        left: 105px;

        * {
            color: grey;
            padding-left: 2px;
        }

        .first{
            color: white;
            margin-bottom: 2px;
            font-size: 50px;
        }
    }
    .heart{ 
        position: absolute;
        top: 5px;
        font-size: 16px;
        color: white;
        right: 12px;
    }
}